:root {
	font-family: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--background-color: #FAF8EF;
	--primary-color: #BADC6B;
	--secondary-color: #91B1E0;
	--tertiary-color: #A1E2F7;
	--accent-color: #F8E188;
	--heading-color: rgba(0, 0, 0, 0.7);
	--text-color: #444444;
	--background-without-opacity: rgba(255, 255, 255, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
}

html {
    height: 100%;
    width: 100%;
}
html body {
    height: 100%;
    margin: 0;
    width: 100%;
}
html body #svelte {
    height: 100%;
    width: 100%;
}

div {
    color: var(--text-color);
}

.primary {
	background-color: var(--background-color);
}

a {
	color: var(--tertiary-color);
}

a:visited, a:hover {
	color: var(--secondary-color);
}
