.section-body {
    margin-top: 12px;
}

.primary-section {
    margin-bottom: 40px;
}

.timeline-section {
    border-top: 2px dashed;
    border-color: #91B1E0 !important;
    margin:0;
    padding: 30px;
    position: relative;
}

.timeline-section::before {
    background-color: white;
    content: attr(data-date);
    position: relative;
    width: 50px;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    border: 4px solid #A1E2F7;
    border-radius: 50%;
    z-index: 1;
}

.timeline-section:nth-child(even) {
    border-left: 2px dashed;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-right: 30px; 
    padding-right: 0;
}

.timeline-section:nth-child(even)::before {
    right: calc(50% + 25px);
}

.timeline-section:nth-child(odd) {
    border-right: 2px dashed;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-left: 30px; 
    padding-left: 0;
}

.timeline-section:nth-child(odd)::before {
    left: calc(50% + 25px);
}

.timeline-section:first-child {
    border-top: 0;
    border-top-right-radius:0;
    border-top-left-radius:0;
}

.timeline-section:last-child {
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
}

.timeline-section .section-header {
    margin-top: -50px;
}